@import url("https://fonts.googleapis.com/css?family=Dosis:300,400|Montserrat:400,700|Quicksand:300,400,700&display=swap&subset=latin-ext");
.team_container .title_team .txt_container p, .portfolio_container .title_portfolio .txt_container p, .brand_container .title_brand .txt_container p, .banner_container .home_info h3, .team_employees .team_simple_employee .employee_description .name_container .employee_name p, .footer_container .last_information h6 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .team_container .title_team .txt_container p, .portfolio_container .title_portfolio .txt_container p, .brand_container .title_brand .txt_container p, .banner_container .home_info h3, .team_employees .team_simple_employee .employee_description .name_container .employee_name p, .footer_container .last_information h6 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .team_container .title_team .txt_container p, .portfolio_container .title_portfolio .txt_container p, .brand_container .title_brand .txt_container p, .banner_container .home_info h3, .team_employees .team_simple_employee .employee_description .name_container .employee_name p, .footer_container .last_information h6 {
    font-size: 3.5rem;
  }
}

.team_container .title_team .txt_container h5, .portfolio_container .title_portfolio .txt_container h5, .brand_container .title_brand .txt_container h5, nav ul li a, nav ul .icon_container_list a, .banner_container .home_info button, .team_employees .team_simple_employee .employee_description .name_container .employee_name p + p, .team_employees .team_simple_employee .employee_description .name_container p, .footer_container .last_information p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .team_container .title_team .txt_container h5, .portfolio_container .title_portfolio .txt_container h5, .brand_container .title_brand .txt_container h5, nav ul li a, nav ul .icon_container_list a, .banner_container .home_info button, .team_employees .team_simple_employee .employee_description .name_container .employee_name p + p, .team_employees .team_simple_employee .employee_description .name_container p, .footer_container .last_information p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .team_container .title_team .txt_container h5, .portfolio_container .title_portfolio .txt_container h5, .brand_container .title_brand .txt_container h5, nav ul li a, nav ul .icon_container_list a, .banner_container .home_info button, .team_employees .team_simple_employee .employee_description .name_container .employee_name p + p, .team_employees .team_simple_employee .employee_description .name_container p, .footer_container .last_information p {
    font-size: 2.5rem;
  }
}

.team_container .title_team, .portfolio_container .title_portfolio, .brand_container .title_brand {
  padding: 15px 15px;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .team_container .title_team, .portfolio_container .title_portfolio, .brand_container .title_brand {
    padding: 50px 100px;
  }
}

.team_container .title_team .txt_container, .portfolio_container .title_portfolio .txt_container, .brand_container .title_brand .txt_container {
  padding: 30px 50px;
  text-align: center;
  border: 1px solid white;
}

.team_container .title_team .txt_container p::before, .portfolio_container .title_portfolio .txt_container p::before, .brand_container .title_brand .txt_container p::before, .team_container .title_team .txt_container p::after, .portfolio_container .title_portfolio .txt_container p::after, .brand_container .title_brand .txt_container p::after {
  width: 50px;
}

.team_container .title_team .txt_container h5, .portfolio_container .title_portfolio .txt_container h5, .brand_container .title_brand .txt_container h5 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.team_container .title_team .txt_container p, .portfolio_container .title_portfolio .txt_container p, .brand_container .title_brand .txt_container p, .banner_container .home_info h3 {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
}

.team_container .title_team .txt_container p::before, .portfolio_container .title_portfolio .txt_container p::before, .brand_container .title_brand .txt_container p::before, .banner_container .home_info h3::before, .team_container .title_team .txt_container p::after, .portfolio_container .title_portfolio .txt_container p::after, .brand_container .title_brand .txt_container p::after, .banner_container .home_info h3::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  top: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.team_container .title_team .txt_container p::before, .portfolio_container .title_portfolio .txt_container p::before, .brand_container .title_brand .txt_container p::before, .banner_container .home_info h3::before {
  right: 100%;
  margin-right: 10px;
}

.team_container .title_team .txt_container p::after, .portfolio_container .title_portfolio .txt_container p::after, .brand_container .title_brand .txt_container p::after, .banner_container .home_info h3::after {
  left: 100%;
  margin-left: 10px;
}

@-webkit-keyframes moveArrow {
  0% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(90deg);
            transform: translateY(-10px) rotate(90deg);
  }
}

@keyframes moveArrow {
  0% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(90deg);
            transform: translateY(-10px) rotate(90deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 8px;
}

.menu_container {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.menu_container h2 {
  padding: 5px 10px;
  margin: 10px;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #f34739;
  border-radius: 15px 0 15px 15px;
}

.menu_container .icon_container {
  position: absolute;
  left: 40%;
  padding: 10px 0;
  display: none;
  z-index: 3;
}

@media (min-width: 768px) {
  .menu_container .icon_container {
    display: block;
  }
}

.menu_container .icon_container a {
  padding: 0 10px;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}

.menu_container .icon_container a:hover {
  color: #f34739;
}

.hamburger_container {
  position: relative;
  margin: 15px;
}

@media (min-width: 768px) {
  .hamburger_container {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    margin: 0;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hamburger_container button {
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.hamburger_container .menu_toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: black;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .hamburger_container .menu_toggle {
    color: white;
  }
}

.hamburger_container .menu_toggle:before, .hamburger_container .menu_toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.hamburger_container button:hover {
  color: #f78a81;
}

.hamburger_container button.is-active {
  border-color: transparent;
  color: #f34739;
}

.hamburger_container button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger_container button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

nav {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  top: -1000%;
  background-color: #101010;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 768px) {
  nav {
    width: 40%;
    right: 0;
  }
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  padding: 10px 0;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f34739;
}

nav ul .icon_container_list {
  padding: 10px 0;
}

nav ul .icon_container_list a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav ul .icon_container_list a:hover {
  color: #f34739;
}

@media (min-width: 768px) {
  nav ul .icon_container_list a {
    display: none;
  }
}

.banner_container {
  position: relative;
  width: 100%;
  height: 50vh;
  padding-top: 50px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner_container .home_info {
  text-align: center;
  padding-top: 20px;
}

.banner_container .home_info h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.banner_container .home_info button {
  padding: 5px 20px;
  margin-top: 4rem;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_container .home_info button:hover {
  background-color: #f34739;
}

.arrow_content {
  font-size: 3rem;
  font-weight: 300;
}

.arrow_content p {
  font-family: "Quicksand", sans-serif;
  -webkit-animation: moveArrow 1s alternate linear infinite;
          animation: moveArrow 1s alternate linear infinite;
}

.arrow_content p::after {
  content: '>';
  display: inline-block;
}

.about {
  font-family: "Quicksand", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .progress_bar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px;
}

.about .progress_bar .txt_progress_bar {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.about .progress_bar .txt_about {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
}

.team_container {
  width: 100%;
  margin: 30px 0;
}

.team_container .title_team {
  background-image: url("../img/comp.jpg");
}

.team_employees {
  width: 80%;
  margin: 0 auto;
}

.team_employees .team_simple_employee {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team_employees .team_simple_employee:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.team_employees .team_simple_employee .employee_description {
  height: 40vh;
  padding: 20px 15px 0 15px;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_description {
    width: 50%;
    height: 30vh;
    margin: 15px 0;
    padding: 20px 0px 20px 15px;
  }
}

.team_employees .team_simple_employee .employee_description .name_container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  text-align: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_description .name_container {
    border-bottom: 2px solid black;
    border-right: none;
  }
}

.team_employees .team_simple_employee .employee_description .name_container .employee_name {
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #f34739;
}

.team_employees .team_simple_employee .employee_description .name_container p {
  width: 100%;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_description.olivia,
  .team_employees .team_simple_employee .employee_description.taylor {
    width: 50%;
    margin: 15px 0;
    padding: 20px 15px 20px 0;
  }
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_description.olivia .name_container.olivia,
  .team_employees .team_simple_employee .employee_description.olivia .name_container.taylor,
  .team_employees .team_simple_employee .employee_description.taylor .name_container.olivia,
  .team_employees .team_simple_employee .employee_description.taylor .name_container.taylor {
    border-bottom: 2px solid black;
    border-left: none;
    border-right: 2px solid black;
  }
}

.team_employees .team_simple_employee .employee_img {
  position: relative;
  height: 30vh;
  padding: 0 15px 20px 15px;
  background-image: url("../img/Team/adrianna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_img {
    width: 50%;
    margin: 15px 0;
    padding: 20px 15px 20px 0;
  }
}

.team_employees .team_simple_employee .employee_img::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_img::after {
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, 0) rotate(270deg);
            transform: translate(-50%, 0) rotate(270deg);
  }
}

.team_employees .team_simple_employee .employee_img .border {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_img .border {
    border-top: 2px solid white;
    border-left: none;
  }
}

.team_employees .team_simple_employee .employee_img.olivia_img {
  background-image: url("../img/Team/Taylor.jpg");
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_img.olivia_img {
    padding: 20px 0px 20px 15px;
  }
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .employee_img.olivia_img .border {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.team_employees .team_simple_employee .thomas_img {
  background-image: url("../img/Team/Rectangle 6 copy.jpg");
}

.team_employees .team_simple_employee .taylor_img {
  background-image: url("../img/Team/olivia.jpg");
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .taylor_img {
    padding: 20px 0px 20px 15px;
  }
}

@media (min-width: 768px) {
  .team_employees .team_simple_employee .taylor_img .border {
    padding: 20px 0px 20px 15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.portfolio_container .title_portfolio {
  background-image: url("../img/portfolio.jpg");
}

.portfolio_container .portfolio_content {
  width: 100%;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (orientation: landscape) {
  .portfolio_container .portfolio_content {
    height: 70vh;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.portfolio_container .portfolio_content .sample_portfolio {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.portfolio_container .portfolio_content .sample_portfolio:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.portfolio_container .portfolio_content .sample_portfolio img {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio_container .portfolio_content .sample_portfolio:hover img {
  display: block;
}

.brand_container .title_brand {
  background-image: url("../img/Layer 47.jpg");
}

.brand_container .brands_content {
  width: 100%;
  max-width: 100%;
  padding: 20px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (orientation: landscape) {
  .brand_container .brands_content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.brand_container .brands_content img {
  opacity: 0.5;
  margin: 0 auto;
}

.footer_container {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer_container .last_information {
  width: 60%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_container .last_information h6 {
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px;
  margin: 15px 0 15px;
  border-bottom: 1px solid #019081;
}

.footer_container .last_information p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 5px;
}

.copyright {
  background-color: #0e0e0d;
  padding: 10px;
}

.copyright p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
/*# sourceMappingURL=main.css.map */