
.about {
    font-family: $font-Q;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media #{$tablet} {
        justify-content: center;
        flex-direction: row;
    }

    .progress_bar {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 50px;

        .txt_progress_bar {
            position: absolute;
            font-size: 1.5rem;
            font-weight: 500;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .txt_about {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
            text-align: center;
            
        }
    }
}
