.banner_container {
    width: 100%;
    height: 50vh;
    padding: $basic-padding;
    font-family: $font-Q;
    color: #ffffff;
    background-image: url('../img/banner.jpg');
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    .home_info {
        text-align: center;
        padding-top: 20px;
        width: 100vw;
        max-width: 100%;

        h3 {
            @extend %over-title;
        }
        h1 {
            font-size: 4.5rem;
            text-transform: uppercase;
        }

        button {
            font-size: 1.5rem;
            font-family: $font-Q;
            color: #ffffff;
            font-weight: 500;
            text-transform: uppercase;
            padding: 5px 20px;
            margin-top: 4rem;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #f34739;
            }
        }
    }
}

.arrow_content {
    font-size: 3rem;
    font-weight: lighter;
    justify-self: flex-end;

    p {
        font-family: $font-Q;
        animation: moveArrow 1s alternate linear infinite;

        &::after{
            content: '>';
            display: inline-block;
        }
    }
}