.brand_container {
    .title_brand {
        @extend %bannerContainer;
        background-image: url('../img/Layer\ 47.jpg');
     
    }

    .brands_content {
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        
        @media #{$landscape} {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        img {
            opacity: 0.5;
            margin: 0 auto;
        }
    }
}

