.portfolio_container {

    .title_portfolio {
    @extend %bannerContainer;
    background-image: url('../img/portfolio.jpg');

   
}

.sample_portfolio {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(6);
    filter: grayscale(6);
    transition: 0.5s;

    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}

}