.team_container {
    width: 100%;
    margin: 30px 0;

    .title_team {
        @extend %bannerContainer;
        background-image: url('../img/comp.jpg');
    }
}

.team_employees {

    @media #{$tablet-portrait} {
        width: 80%;
        margin: 0 auto;
       }

    .team_simple_employee {
        width: 100%;
        font-family: $font-Q;

        @media #{$tablet-portrait} {
            display: flex;

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
           }

        .employee_description {
            height: 30vh;
            margin: 20px 15px 0 15px;
            text-align: center;
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-left: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media #{$tablet-portrait} {
               width: 50%;
               margin: 15px 0;
               border-right: none;
               border-bottom: 2px solid black;
               }

            .employee_name {
                text-transform: uppercase;
                padding-bottom: 5px;
                margin-bottom: 20px;
                border-bottom: 2px solid #f34739;


                
                p {
                    font-size: 4rem;
                }
                p + p {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 1.5rem;
            }
        }

        .employee_img {
            position: relative;
            height: 30vh;
            padding: 0 15px 20px 15px;
            background-image: url('../img/Team/adrianna.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;


            @media #{$tablet-portrait} {
                width: 50%;
                margin: 15px 0;
                padding: 20px 15px 20px 0;
               }

            &::after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid white;

                @media #{$tablet-portrait} {
                   top: 50%;
                   left: 0;
                   transform: translate(-50%, 0) rotate(270deg);
                }

                
            }

            .border {
                width: 100%;
                height: 100%;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                border-left: 2px solid white;

                @media #{$tablet-portrait} {
                    border-top: 2px solid white;
                    border-left: none;
                 }
            }
        }
        .olivia_img {
            background-image: url('../img/Team/Taylor.jpg');
        }
        .thomas_img {
            background-image: url('../img/Team/Rectangle\ 6\ copy.jpg');
        }
        .taylor_img {
            background-image: url('../img/Team/olivia.jpg');
        }
    }
}
