.team_container {
    width: 100%;
    margin: 30px 0;

    .title_team {
        @extend %bannerContainer;
        background-image: url('../img/comp.jpg');
    }
}

.team_employees {
    width: 80%;
    margin: 0 auto;

    .team_simple_employee {
        width: 100%;
        font-family: $font-Q;


        @media #{$tablet-portrait} {
            display: flex;

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
           }

        .employee_description {
            height: 40vh;
            padding: 20px 15px 0 15px;

            @media #{$tablet} {
               width: 50%;
               height: 30vh;
               margin: 15px 0;
               padding: 20px 0px 20px 15px;
            }

            .name_container {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                text-align: center;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-left: 2px solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media #{$tablet} {
                    border-bottom: 2px solid black;
                    border-right: none;
                }            

                .employee_name {
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    text-align: center;
                    border-bottom: 2px solid #f34739;
                    
                    p {
                        @extend %title;
                    }
                    p + p {
                        @extend %text;
                    }
                }
                p {
                    width: 100%;
                    @extend %text;
                }
          }
    }

    .employee_description.olivia,
    .employee_description.taylor {

        @media #{$tablet-portrait} {
            width: 50%;
            margin: 15px 0;
            padding: 20px 15px 20px 0;
         }

         .name_container.olivia,
         .name_container.taylor {
                
                @media #{$tablet-portrait} {
                    border-bottom: 2px solid black;
                    border-left: none;
                    border-right: 2px solid black;
              } 
         }
    }

        .employee_img {
            position: relative;
            height: 30vh;
            padding: 0 15px 20px 15px;
            background-image: url('../img/Team/adrianna.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;


            @media #{$tablet-portrait} {
                width: 50%;
                margin: 15px 0;
                padding: 20px 15px 20px 0;
               }

            &::after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid white;

                @media #{$tablet-portrait} {
                   top: 50%;
                   left: 0;
                   transform: translate(-50%, 0) rotate(270deg);
                }
            }

            .border {
                width: 100%;
                height: 100%;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                border-left: 2px solid white;

                   
                @media #{$tablet-portrait} {
                    border-top: 2px solid white;
                    border-left: none;
                 } 
            }
        }


         .employee_img.olivia_img {
            background-image: url('../img/Team/Taylor.jpg');

            @media #{$tablet-portrait} {
                padding: 20px 0px 20px 15px;
             } 
            .border {
                @media #{$tablet-portrait} {
                    transform: rotate(180deg);
                 }  
            }
        }
        .thomas_img {
            background-image: url('../img/Team/Rectangle\ 6\ copy.jpg');
        }
        .taylor_img {
            background-image: url('../img/Team/olivia.jpg');

            @media #{$tablet-portrait} {
                padding: 20px 0px 20px 15px;
             } 
            .border {
                @media #{$tablet-portrait} {
                    padding: 20px 0px 20px 15px;
                    transform: rotate(180deg);
                 }  
            }
        }
    }
}
