$basic-padding: 15px 15px;
$font-Q: 'Quicksand', sans-serif;
$font-M: 'Montserrat', sans-serif;
$font-D: 'Dosis', sans-serif;

$buttonWidth: 20px;
$buttonHeight: 20px;
$buttonColor: white;
$lineThickness: 4px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;

$landscape: '(orientation: landscape)';
$mobile: "(min-width: 576px)";
$tablet: "(min-width: 768px)";
$desktop-s: "(min-width: 992px)";
$desktop-m: "(min-width: 1200px)";
$desktop-l: "(min-width: 1600px)";

$font-text-s: 1.5rem;
$font-text-m: 2rem;
$font-text-l: 2.5rem;

$font-title-s: 2.5rem;
$font-title-m: 3rem;
$font-title-l: 3.5rem;


%title {
    font-size: $font-title-s;

    @media #{$tablet} {
        font-size: $font-title-m;
    }

    @media #{$desktop-m} {
        font-size: $font-title-l;
    }
}

%text {
    font-size: $font-text-s;

    @media #{$tablet} {
        font-size: $font-text-m;
    };


    @media #{$desktop-m} {
        font-size: $font-text-l;
    }
}




%bannerContainer {
        padding: $basic-padding;
        font-family: $font-Q;
        color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media #{$tablet} {
                padding: 50px 100px;
        }

        .txt_container {
            padding: 30px 50px;
            text-align: center;
            border: 1px solid white; 

            p {
                 @extend %over-title;
                    &::before,
                    &::after {
                        width: 50px;
                }
            }

            h5 {
                @extend %text;
                font-weight: 300;
                color: rgba($color: #ffffff, $alpha: 0.7);
            }
        }
    }


%over-title {
        position: relative;
        display: inline-block;
        @extend %title;
        color: rgba($color: #ffffff, $alpha: 0.7);

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 5px;
            top: 50%;
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.7);
        } 
        &::before {
            right: 100%;
            margin-right: 10px;
        }
        &::after {
            left: 100%;
            margin-left: 10px;
        }
    }

  


